@if (Ascents != null && Ascents.Any())
{
    Console.WriteLine(Ascents.ToString());
    foreach (var ascent in Ascents)
    {
        <p><strong>@ascent.Date.Day-@ascent.Date.Month-@ascent.Date.Year:</strong> @ascent.Comment</p>
    }
}
else
{
    <p>No Ascents yet...</p>
}