@page "/addMountain"
@namespace MyMountainAscents.UI.Pages
@using MyMountainAscents.Data.Entities

<EditForm Model="mountain">
    <label>
        Name mountain:
        <InputText maxlength="50" @bind-Value="mountain.Name" />
    </label>
    <label>
        Height:
        <InputNumber @bind-Value="mountain.Height" />
    </label>
    <label>
        Country:
        <InputText maxlength="50" @bind-Value="mountain.Country" />
    </label>

    <button class="btn" @onclick="Submit">Add Mountain</button>
</EditForm>
