@page "/mountainOverview"
@namespace MyMountainAscents.UI.Pages
@using MyMountainAscents.Data.Entities

@if (Mountains != null && Mountains.Any())
{
    <div class="d-flex justify-content-start flex-wrap">
        @foreach (var mountain in Mountains)
        {
            <div class="p-2">
                <MountainCard Mountain=mountain></MountainCard>
            </div>
        }
    </div>
}
else if (Mountains != null && !Mountains.Any())
{
    <p>There are no mountains yet...</p>
}
else
{
    <Spinner />
}