@page "/mountainOverview"
@namespace MyMountainAscents.UI.Pages
@using MyMountainAscents.Data.Entities
<div class="position-fixed float-right" style="bottom: 10px; margin:20px;z-index: 1; right: 10px">
    <button class="btn-lg btn-dark">&#43;</button>
</div>

@if (Mountains != null && Mountains.Any())
{
    <div class="d-flex justify-content-start flex-wrap">
        @foreach (var mountain in Mountains)
        {
            <div class="p-2">
                <MountainCard Mountain=mountain></MountainCard>
            </div>
        }
    </div>
}
else if (Mountains != null && !Mountains.Any())
{
    <p>There are no mountains yet...</p>
}
else
{
    <Spinner />
}